body
{   font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: grey;
    margin: 0;
}
h1{
    font-family: 'Comic Sans';
    color: rgb(17, 21, 77);
    font-style: oblique;
}
button{
    font-family: 'Arial Rounded MT Bold';
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.btn{
    height: 25vh;
    min-height: 100px;
    max-height: 200px;
    width: 25vw;
    min-width: 100px;
    max-width: 150px;
    border-radius: 24%;
    border: 3px solid #000000d5;
    margin: 1rem;
}
.red{
    background-color: rgba(236, 43, 43,1);
}
.green{
    background-color: rgba(160, 241, 38,1);
}
.blue
{
    background-color: rgba(137, 37, 230,1);
}
.orange{
    background-color: rgba(226, 157, 29,1);
}
.flash
{
background-color: white;
}
.userflash
{
background-color: green;
}
#id
{

text-align: right;
}
.howtoplay{
position: absolute;
top:43px;
right:5px;
z-index: 1000;
}
#howtoplaybtn,#closepopup
{
padding: 8px 16px;
width: 20vw;
font-size: 15px;
background-color: cadetblue;
border-radius: 10%;
cursor: pointer;
&:hover{
    background-color: rgb(68, 205, 50);
}
}
#howtoplaypopup{
display: none;
background-color: rgba(127, 255, 212,0.5);
border: 1px solid #cccc;
box-shadow: 0 2px 8px #0002;
transition: ease-in-out;
}
#howtoplaypopup>ul{
    display: flex;
    flex-direction: column;
    list-style: numeric;
    align-items: flex-start;
}
#highScore
{
display: none;
}
